h1{
  color: #1B4EC4;
  font-weight:italic;
  font-family:"Times New Roman";
}
p{
  color:black;
  width:69%;
}
section{
  width: 100%;
  margin-top:50px;
  background-color: turquoise;

}
article{
  display:inline-block;
  width:70%;
  background-color: purple;
  height:250px;

}
aside{
  position: absolute;
  display: inline-block;
  height:250px;
}
