h1{
  color: #1B4EC4;
  font-weight:italic;
  font-family:"Times New Roman";
}
p{
  color:black;
  border: 3px solid pink;
  width:40%;
}
nav{
  width:100%;
  background-color: grey;
  height: 50px;
  position:fixed;
  top:0;
}
li{
  display:inline;
  margin-left: 25px;
}
ul{
  text-align: center;
}
section{
  width: 100%;
  margin-top:50px;
  background-color: turquoise;

}
article{
  display:inline-block;
  width:70%;
  background-color: purple;

}
aside{
  position: absolute;
  display: inline-block;
}
